%h1 Listing products

%table
  %tr
    %th Name
    %th Description
    %th Price
    %th Image
    %th recommend
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.display_description
      %td= product.display_price
      %td= product.display_image
      %td= product.recommend
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
