%p#notice= notice

%p.name
  %b Name:
  = @product.name
.description
  %p
    %b Description:
    = @product.display_description
%p.price
  %b Price:
  = @product.display_price
%p.image
  %b image:
  = @product.display_image
%p.recommend
  %b recommend:
  = @product.recommend

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
